<header class="page-header">
  <h1>Store Summary Statistics</h1>
</header>

<table class="table">
  <thead class="table-light">
    <tr>
      <th>Total Products</th>
      <th>Total Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @products_count %></td>
      <td><%= @products_categories %></td>
    </tr>
  </tbody>
</table>
